* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.firstdiv {
  margin-top: 100px !important;
  height: 300px;
  width: 500px;
  margin: auto;
  width: 50%;
  padding-top: 50px;
  background-color: bisque;
}
.secondtdiv {
  margin-top: 100px !important;
  height: 300px;
  width: 500px;
  margin: auto;
  width: 50%;
  padding-top: 50px;
  background-color: bisque;
}
